@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "NT Fabulous";
  src: url("/fonts/NTFabulous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Hatolie";
  src: url("/fonts/Hatolie-Regular.ttf") format("truetype");
}

:root {
  --color-white: #ffffff;
  --color-beige: #d9c6c0;
  --color-green-dark: #61776b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-white);
}

p,
a {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
}

h4,
h5,
h6 {
  font-family: "NT Fabulous", serif;
}
