.card-img-top {
  overflow: hidden; /* Garante que o zoom não ultrapasse os limites do contêiner */
  position: relative;
  cursor: pointer;
}

.card-img-top img {
  transition: transform 0.3s ease; /* Adiciona transição suave ao zoom */
}

.card-img-top:hover img {
  transform: scale(1.2); /* Aumenta a imagem em 10% ao passar o mouse */
}
