.contactTitle {
  color: var(--color-green-dark);
  text-align: center;
  animation-duration: 2s;
  margin-top: 5rem;
}

.form {
  font-family: "Poppins", sans-serif;
  width: 60%;
  background-color: #ededed;
  border-radius: 0.8rem;
  padding: 3rem;
  margin: 0 auto;
}

.button {
  margin-top: 2rem;
  background-color: var(--color-green-dark); /* Cor verde escura da paleta */
  color: var(--color-white); /* Texto branco */
  padding: 0.8rem;
  width: 50%;
  border-radius: 1rem;
  border: none;
  font-family: "Poppins", sans-serif; /* Fonte Poppins */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: var(--color-beige); /* Muda para bege claro no hover */
  transform: scale(1.05);
}

/* ContactForm.module.css */

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  z-index: 9999; /* Garante que o alerta fique acima de outros elementos */
  text-align: center;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.alert-success {
  background-color: #28a745;
  color: white;
}

.alert-danger {
  background-color: #dc3545;
  color: white;
}

/* Efeito de transição para desaparecer suavemente */
.alert.hidden {
  opacity: 0;
}
